.border {
	transform: scale(0.9) ;
	transition: 1s all;
	color:white;
	background-color:#FCDC9B;
	border: 7px solid #FFC34B;
	border-radius: 20px;
	margin: 5px;
	padding: 30px;
	box-shadow: 0px 5px 7px #FFC34B;
	width: 95%;
	font-size:20px
}


li {
	margin: 5px
}


.border:hover{
	transform: scale(1)
}


body{
	font-family: 'Montserrat', sans-serif;
    src: url(fonts/Monsterrat.ttf);
}